.my_draggable {
    position: fixed !important;
    width: auto;
    height: auto;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 3px;
    z-index: 10000;
}

.meta_all_rooms {
    top: 5px;
    left: 5px;
    background-color: cornsilk;
    opacity: 0.9;
    padding: 4px;
}

.meta_room {
    background-color: cornsilk;
    width: 640px;
    height: auto;
    padding: 3px;
}

.my_clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.my_clearfix {
    display: inline-block;
}

.my_clearfix {
    display: block;
}